<div class='home'>
<span class='row'>
<h1>
  <span class='col-med-5'> <%= @current_user.username.upcase %>'S HUNGRY.</span> 
  <span class="col-xs-3"> 
    <%= form_tag(home_path(@current_user.id), method: :get) do %>
        <%= text_field_tag :feeder_params, params[:feeder_params], class:'form-control' %>
          <%= submit_tag "Search by name", :name =>'search by name', class: "btn btn-sml" %>
    <% end %> </span></h1>
</span>


  <div class="side_bar">This is where links to the individual feeds will go</div>
  <div id="search_results">
    <%= flash[:notice] %>
    <%= params.inspect %> <br><br><br>
    <% if params[:feeder_params] %>
      <%= form_for @feed do |f| %>
        <%= f.hidden_field :identifier, value: params[:feeder_params] %>
         <%= f.hidden_field :type, value: 'Feeder' %>
        <%= f.submit "Add #{@search.title} to your feed" %>
        <% end %><br>
        <h3><%= @search.title %> </h3><br>
        <%= @search.description %>
        <!-- Shows something, like the rss feed name and a description --> 
      <% elsif params[:tumblr_search] %>
        <%= form_for @feed do |f| %>
        <%= f.hidden_field :identifier, value: params[:tumblr_params] %>
         <%= f.hidden_field :type, value: 'Tumblr' %>
        <%= f.submit "Add #{params[:tumblr_search]} to your feed" %>
        <% end %>
    <br>

    <% else %>
    <% @posts.each do |post| %>
        <% if post.url %>
          <%= link_to post.title, post.url %><br>
        <% else %>
          <%= post.title %>
        <% end %>
      by <%= post.author %><br><br>
      <%= post.summary.html_safe if post.summary %><br>
      <%= post.content.html_safe if post.content %><br>
    <br>
    <% end %>
  <% end %>
  This will be added back in once we have a working feed. 
   </div>
</div>