<div class='row'>
  <div class='col-sm-2 sidebar'>
    <% @current_user.authorizations.each do |authorizations| %>
      <%= authorizations.provider %><br>
      <%= image_tag(authorizations.avatar) %><br>
      <%= authorizations.nickname %><br>
    <% end %>
  </div>
  <div class='col-lg-10'>
  <div id="search_results">
    <%= flash[:notice] %><br><br>
    <% if params[:twitter_params] %>
      <%= render 'twittersearch' %>
    <% elsif params[:feeder_params] && @search != 0 %>
      <%= render 'rssfeedsearch' %>
    <% elsif params[:search_tumblr] && @search != 0 %>
      <%= render 'tumblrsearch' %>
    <% else %>
    <!-- This is where the actual posts go! -->
      <%= render 'posts' %>

  <% end %>
   </div>
</div>