<div class='home'>
<span class='row'>
<h1>
  <span class='col-med-5'> <%= @current_user.username.upcase %>'S HUNGRY.</span> 
  <span class="col-xs-3"> 
    <%= form_tag(home_path(@current_user.id), method: :get) do %>
      <%= text_field_tag :feeder_params, params[:feeder_params], class:'form-control' %>
      <%= submit_tag "Search by name", :name =>'search by name', class: "btn btn-sml" %>
    <% end %>
    <%= form_tag(home_path(@current_user.id), :method => 'get') do %>
      <%= text_field_tag :search_tumblr, params[:search_tumblr], placeholder: "Exact tumbler name", class:'form-control' %>
      <%= submit_tag "Go", class: "btn btn-sml" %>
    <% end %> 
    <%= form_tag(home_path(@current_user.id), method: :get) do %>
      <%= text_field_tag :twitter_params, params[:twitter_params], class:'form-control' %>
      <%= submit_tag "Go", :name =>'search by twitter', class: "btn btn-sml" %>
    <% end %>
  </span></h1>
</span>

<div class='row'>
  <div class='col-lg-2 sidebar'>
    This is where links to the individual feeds will go
  </div>
  <div class='col-lg-10'>
  <div id="search_results">
    
    <%= flash[:notice] %><br>

    <% if params[:twitter_params] %>
      <% @search.each do |potential_feed| %>
      <div>
        <img src="<%= potential_feed.profile_image_url %>" alt="<%= potential_feed.username %>">
        <%= potential_feed.username %>
      </div><br>
      <% end %>
    <% elsif params[:feeder_params] %>
      <%= form_for @feed do |f| %>
        <%= f.hidden_field :identifier, value: params[:feeder_params] %>
        <%= f.hidden_field :type, value: 'Feeder' %>
        <%= f.submit "Add #{@search.title} to your feed" %>
      <% end %><br>
        <h3><%= @search.title %> </h3><br>
        <%= @search.description %>
        <!-- Shows something, like the rss feed name and a description --> 
    <% elsif params[:search_tumblr] %>
      <%= form_for @feed do |f| %>
        <%= f.hidden_field :identifier, value: params[:search_tumblr] %>
        <%= f.hidden_field :type, value: 'Tumblr' %>
        <%= f.submit "Add #{params[:tumblr_search]} to your feed" %>
      <% end %>
      Title: <%= link_to @search[:title], @search[:url], target: :blank %><br>
      Author: <%= @search[:author] %><br>
      Post Count: <%= @search[:post_count]%></br>
      Description: <%= @search[:description].html_safe %></br> 
    <br>
    <% else %>
    <% @posts.each do |post| %>
        <% if post.url %>
          <%= link_to post.title, post.url %><br>
        <% else %>
          <%= post.title %>
        <% end %>
      by <%= post.author %><br><br>
      <%= post.summary.html_safe if post.summary %><br>
      <%= post.content.html_safe if post.content %><br>
    <br>
    <% end %>
  <% end %>
  <% if @posts.count == 0 %>
    Search for users to grow your feed!
    <% end %>
   </div>
</div>