<div class='home'>
<span class='row'>
<h1>
  <span class='col-med-5'> <%= @current_user.username.upcase %> IS HUNGRY.</span> 
  <span class="col-xs-3"> 
    <%= form_tag(home_path(@current_user.id), method: :get) do %>
      <%= text_field_tag :feeder_params, params[:feeder_params], class:'form-control', placeholder: 'Add A Feed' %>
      <%= submit_tag "Go", :name =>'search by name', class: "btn btn-sml" %>
    <% end %>
    <%= form_tag(home_path(@current_user.id), :method => 'get') do %>
      <%= text_field_tag :search_tumblr, params[:search_tumblr], placeholder: "Exact tumbler name", class:'form-control' %>
      <%= submit_tag "Go", class: "btn btn-sml" %>
    <% end %> 
    <%= form_tag(home_path(@current_user.id), method: :get) do %>
        <%= text_field_tag :twitter_params, params[:twitter_params], class:'form-control', placeholder: 'Twitter Search' %>
          <%= submit_tag "Go", :name =>'search by twitter', class: "btn btn-sml" %>
    <% end %> </span></h1>
</span>

<div class='row'>
  <div class='col-lg-2 sidebar'>
    <% @current_user.authorizations.each do |authorizations| %>
      <%= authorizations.provider %><br>
      <%= image_tag(authorizations.avatar) %><br>
      <%= authorizations.nickname %><br>
    <% end %>
  </div>
  <div class='col-lg-10'>
  <div id="search_results">
    <%= flash[:notice] %><br><br>
    <% if params[:twitter_params] %>
      <% @search.each do |potential_feed| %>
      <div>
        <img src="<%= potential_feed.profile_image_url %>" alt="<%= potential_feed.username %>">
        <%= potential_feed.username %>
      </div><br>
      <% end %>
    <% elsif params[:feeder_params] && @search != 0 %>
      <%= form_for @feed do |f| %>
        <%= f.hidden_field :identifier, value: params[:feeder_params] %>
        <%= f.hidden_field :type, value: 'Feeder' %>
        <%= f.submit "Add #{@search.title} to your feed" %>
      <% end %><br>
        <h3><%= @search.title %> </h3><br>
        <%= @search.description %>
        <!-- Shows something, like the rss feed name and a description --> 
    <% elsif params[:search_tumblr] && @search != 0 %>
      <%= form_for @feed do |f| %>
        <%= f.hidden_field :identifier, value: params[:search_tumblr] %>
        <%= f.hidden_field :type, value: 'Tumblr' %>
        <%= f.submit "Add #{params[:tumblr_search]} to your feed" %>
      <% end %>
      <img src="<%= @search[:avatar] %>"><br>
      Title: <%= link_to @search[:title], @search[:url], target: :blank %><br>
      Author: <%= @search[:author] %><br>
      Post Count: <%= @search[:post_count]%></br>
      Description: <%= @search[:description].html_safe %></br> 
    <br>
    <% else %>
    <!-- This is where the actual posts go! -->
    <% @posts.each do |post| %>
        <div class="<%= post.feed.type %>" >
        <% if post.url && post.title %>
          <%= link_to post.title, post.url %><br>
        <% else %>
          <%= post.title %>
        <% end %>
      by <%= post.author %><br><br>
      <%= post.published.to_time %><br>
      <a href="<%= post.url %>">
      <% if post.content_type == 'photo' %>
        <% post.content.split.each do |photo| %>
          <img src='<%= photo %>' >
        <% end %>
      <% elsif post.content_type == 'text' || post.feed.type == 'Feeder' %>
        <%= post.summary.html_safe if post.summary %><br>
        <%= post.content.html_safe if post.content %><br>
      <% end %>
      </a>
      </div>
    <br>
    <br>
    <br>
    <% end %>
  <% end %>
  <% if @posts.count == 0 %>
    Search for users to grow your feed!
  <% end %>
   </div>
</div>