<div class='home'>
<span class='row'>
<h1>
  <span class='col-med-5'> <%= @current_user.username.upcase %> IS HUNGRY.</span> 
  <span class="col-xs-3"> 
    <%= form_tag(home_path(@current_user.id), method: :get) do %>
      <%= text_field_tag :feeder_params, params[:feeder_params], class:'form-control', placeholder: 'Add A Feed' %>
      <%= submit_tag "Go", :name =>'search by name', class: "btn btn-sml" %>
    <% end %>
    <%= form_tag(home_path(@current_user.id), :method => 'get') do %>
      <%= text_field_tag :search_tumblr, params[:search_tumblr], placeholder: "Exact tumbler name", class:'form-control' %>
      <%= submit_tag "Go", class: "btn btn-sml" %>
    <% end %> 
    <%= form_tag(home_path(@current_user.id), method: :get) do %>
        <%= text_field_tag :twitter_params, params[:twitter_params], class:'form-control', placeholder: 'Twitter Search' %>
          <%= submit_tag "Go", :name =>'search by twitter', class: "btn btn-sml" %>
    <% end %> </span></h1>
</span>

<div class='row'>
  <div class='col-lg-2 sidebar'>
    <% @current_user.authorizations.each do |authorizations| %>
      <%= authorizations.provider %><br>
      <%= image_tag(authorizations.avatar) %><br>
      <%= authorizations.nickname %><br>
    <% end %>
  </div>
  <div class='col-lg-10'>
  <div id="search_results">
    <%= flash[:notice] %><br><br>
    <% if params[:twitter_params] %>
      <%= render 'twittersearch' %>
    <% elsif params[:feeder_params] && @search != 0 %>
      <%= render 'rssfeedsearch' %>
    <% elsif params[:search_tumblr] && @search != 0 %>
      <%= render 'tumblrsearch' %>
    <% else %>
    <!-- This is where the actual posts go! -->
      <%= render 'posts' %>
  <% end %>
   </div>
</div>