<div class='home'>
<span class='row'>
<h1>
  <span class='col-med-5'> <%= @current_user.username.upcase %>'S HUNGRY.</span> 
  <span class="col-xs-3"> 
    <%= form_tag(home_path(@current_user.id), method: :get) do %>
        <%= text_field_tag :feeder_params, params[:feeder_params], class:'form-control' %>
          <%= submit_tag "Search by name", :name =>'search by name', class: "btn btn-sml" %>
    <% end %>
    <%= form_tag(home_path(@current_user.id), :method => 'get') do %>
      <%= text_field_tag :search_tumblr, params[:search_tumblr], placeholder: "Exact tumbler name", class:'form-control' %>
      <%= submit_tag "You better know their exact name, otherwise don't bother", class: "btn btn-sml" %>
    <% end %> </span></h1>
</span>
<div class='row'>
  <div class='col-lg-2 sidebar'>
    This is where links to the individual feeds will go
  </div>
  <div class='col-lg-10'>
    Title: <%= link_to @posts[:title], @posts[:url], target: :blank %><br>
    Author: <%= @posts[:author] %><br>
    Post Count: <%= @posts[:post_count]%></br>
    Description: <%= @posts[:description].html_safe %></br> 
  </div>
</div>